body {font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}
.top-nav a{
    text-decoration: none;
    margin-right: 10px;
}
h1 {
    font-size: 50px;
}
section {
    display: flex;
}
.top{
    width: 50%;
    padding: 5%;
}
.top img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-color: deeppink;
    color: white;
   padding: 10px 20px;
   text-align: center;
   border-radius: 20px;
}
/*......product.....*/
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.product-title{
    font-size: 30px;
}
.fa-star.fild{
 color: #ffc014;   
}